@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255, 255, 255;
  --background-rgb: 44, 44, 44;
  --color-secondary: 244  119  124;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 255, 255, 255;
    --background-rgb: 44, 44, 44;
  
  }
}

body {
  color: rgb(var(--color-primary));
  background: rgb(var(--background-rgb));
  font-family: 'Poppins', Arial, sans-serif;
}
